
:root {
    --type-normal:   #A8A77A;
    --type-fire:     #EE8130;
    --type-water:    #6390F0;
    --type-electric: #F7D02C;
    --type-grass:    #7AC74C;
    --type-ice:      #96D9D6;
    --type-fighting: #C22E28;
    --type-poison:   #A33EA1;
    --type-ground:   #E2BF65;
    --type-flying:   #A98FF3;
    --type-psychic:  #F95587;
    --type-bug:      #A6B91A;
    --type-rock:     #B6A136;
    --type-ghost:    #735797;
    --type-dragon:   #6F35FC;
    --type-dark:     #705746;
    --type-steel:    #B7B7CE;
    --type-fairy:    #D685AD;
  }
/* Only for the types, no extra pokemon-card class */
.normal-type {
  background-color: var(--type-normal);
}

.fire-type {
  background-color: var(--type-fire);
}

.water-type {
  background-color: var(--type-water);
}

.electric-type {
  background-color: var(--type-electric);
}

.grass-type {
  background-color: var(--type-grass);
}

.ice-type {
  background-color: var(--type-ice);
}

.fighting-type {
  background-color: var(--type-fighting);
}

.poison-type {
  background-color: var(--type-poison);
}

.ground-type {
  background-color: var(--type-ground);
}

.flying-type {
  background-color: var(--type-flying);
}

.psychic-type {
  background-color: var(--type-psychic);
}

.bug-type {
  background-color: var(--type-bug);
}

.rock-type {
  background-color: var(--type-rock);
}

.ghost-type {
  background-color: var(--type-ghost);
}

.dragon-type {
  background-color: var(--type-dragon);
}

.dark-type {
  background-color: var(--type-dark);
}

.steel-type {
  background-color: var(--type-steel);
}

.fairy-type {
  background-color: var(--type-fairy);
}

p {
  font-size: small;
}
span {
  font-size: small;
  padding: 2px 5px;
  border-radius: 10px;
  color: white;
}
main {
  height: 75vh;

  background-image: url('pokeball-bg.svg');
  background-size: auto;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;

}
.page-item-active {
  border-bottom: 3px solid rgb(255, 253, 253); 
}
.pokedex-card1,
.pokedex-card2,
.pokedex-card3,
.pokedex-card4,
.pokedex-card5 {
  width: 180px;   /* Or whatever width you want */
  min-height: 200px; /* Or whatever height you want */
  margin: 10px auto;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: medium;
    transition: all 0.3s ease-in-out;
}
nav > a:hover {
    border-bottom: 1px solid white; 
}
.pokedex-card {   
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  .sprite {
    position: relative;
    top: 25px;
    
  }
  .pokedex-card-g {
    background: linear-gradient(135deg, var(--type-water), var(--type-normal));
    border-radius: 1rem;

    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }


  .stats .bar {
    height: 8px;
    background-color: #fff;
    border-radius: 5px;
  }

.poke-info-card {
    border-radius: 20px 20px 0 0;
}
.pokemon-card {
  background-image: url('pokeball-bg.svg');
  background-size: auto;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
